@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Reddit+Mono:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
:root {
  --titles: "Reddit Mono";
  --titleSize: 5rem;
  --text: "Courier Prime";
}

body {
  background-color: #1d1d1f;
  color: #f5f5f5;
  font-family: Arial, sans-serif;
  margin: 0;
  overflow-x: hidden;
}

.show {
  min-height: 80vh !important;
}
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.containerLoad {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.load {
  min-width: 100vw;
}

.real {
  display: none;
}
.start {
  width: 70% !important;
  justify-content: center;
  position: relative;
}

.skills {
  width: 100% !important;
  position: relative;
}
.animated {
  z-index: 3;
  position: absolute;
  animation: load 2s forwards;
}
/* .intro,
.introText {
  transform: translateY(+100vh);
} */

.typing-text {
  position: absolute;
}
.loadAnimation {
  z-index: 3;
  /* width: 70%; */
  display: flex;
  height: 60%;
  animation: start 2s forwards;
}

.about {
  display: flex;
  flex-direction: column;
  width: 70%; 
  /* width: -webkit-fill-available; */
  position: relative;
  /* margin-top: -30%; */
}

@keyframes load {
  0% {
    opacity: 1;
    transform: translateY(0vh);
  }
  100% {
    opacity: 0;
    transform: translateY(-100vh);
  }
}

@keyframes start {
  0% {
    opacity: 0;
    transform: translateY(+100vh);
  }
  30% {
    opacity: 0;
    filter: blur(15px);
  }
  /* 40%{
    opacity: 0.7; 
    filter: blur(15px);
  } */
  100% {
    opacity: 1;
    filter: none;
    transform: translateY(0);
  }
}

h1 {
  font-family: var(--titles);
  font-size: var(--titleSize);
}
p {
  font-family: var(--text);
  font-size: 1.5rem;
}
h1,
p {
  z-index: 3;
  position: relative;
  mix-blend-mode: difference;
}

#blob {
  background-color: white;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  /* Fixed to follow everywhere */
  position: fixed;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  background: linear-gradient(to right, aquamarine, mediumpurple, #ffce61);
  animation: rotate 20s infinite;
  /* filter: blur(200px); */
}

#blur {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  backdrop-filter: blur(300px);
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.3;
  }

  to {
    rotate: 360deg;
  }
}

#custom-cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  pointer-events: none; /* Esto asegura que el cursor personalizado no interfiera con los elementos debajo */
  transition: width 0.3s, height 0.3s;
}

.grid {
  z-index: 3;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 15px;
}

.grid > * {
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  
}

.grid > *:hover {
  background-color: red;
  
}

.gi1 {
  grid-area: 1 / 1 / 3 / 3;
}
.gi2 {
  grid-area: 3 / 1 / 6 / 3;
}
.gi3 {
  grid-area: 1 / 3 / 4 / 6;
}
.gi4 {
  grid-area: 4 / 3 / 6 / 6;
}
